<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paiclone</title>

    <link rel="stylesheet" href="/statics/css/paiclone.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/statics/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/favicon/favicon-16x16.png">
    <link rel="manifest" href="/statics/favicon/site.webmanifest">

<body class="bg-gray-50 dark:bg-gray-800">
    {% block content %} {% endblock content %}
</body>

</html>
